<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.thecongers.mtpms"
    android:versionCode="2"
    android:versionName="1.1" >

	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_shortName"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.thecongers.mtpms.MainActivity"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
 				<action android:name="intent.my.action" />
 				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>
        <activity
    		android:name=".UserSettingActivity" >
  		</activity>
    </application>

</manifest>
